/*reset*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}


/* variables */
:root{
    --theme-color: #F7C4B7;
    --primary-color: gray;
    --secundary-color: orange;
    --secundary-color2: #E8E8E8;
    --text-color: white; 
	--text-color2: black; 
    --text-color-inverse: orange;
    --navbar-shallow-color: hsl(0, 24%, 93%);
    --menu-mobile-background-color: #F7C4B7;
}

/* header */
header{
    height: 100px;
    background: var(--theme-color);
    padding: 0 50px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
       color: var(--text-color);
       text-decoration: none;
       text-transform: uppercase;           
       padding: 0 10px;
       transition: 0.4s;
    }

.mostrar-menu, .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition:0.4s;
}


.mostrar-menu{
    order:1;    
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
   color: var(--text-color-inverse);
}

#check{
    display: none;
}


/*Banner*/
#banner{
    padding: 0 50px;
    background-image: url(./multimedia/care-dog2.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
    display: block; 
    margin: 0 auto;
}
#banner::before{
    content: '';
    background: rgba(77,77,92,0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left:0
}
.contenido-banner{
	position: relative;
	color: var(--text-color);
	height:100%;
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.contenido-banner h3{
	font-size:30px;
	font-weight: 400;
	padding: 10px 0px;
}
.contenido-banner h3 span{
	font-weight:600;
}
.boton-turnos{
    text-decoration: none;
    color: var(--theme-color);
    font-weight: bold;
    border: 1px solid var(--theme-color);
    padding: 20px 40px;
    align-self: baseline;   
    transition: all 0.4s;
}

.boton-turnos:hover{
    background: var(--primary-color) ;
}

/* Servicios */
#servicios{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#servicios img{
    border-radius: 100%;  
   
}
#servicios div{
    padding: 30px 30px;
}

#servicios div h4{
    color:var(--theme-color);
    font-size: 20px;
    margin: 15px 0px;
}

#servicios div p{
    color:var(--primary-color);
    font-size: 18px;
    margin: 15px 0px;
}

/* informacion */
#info{
    padding: 0px 50px;
    background: var(--secundary-color2);
}
.otros{
	padding: 30px 30px 0px 0px;
	display:flex;
	text-align:center;
}
.contenido-i{
	padding: 50px 50px 0px 50px;
	display:flex;
	justify-content: space-between;
	text-align:center;
}

#accesorio{border: none;}

.contenido-i div{
	flex: 1;
	margin: 20px 0px;
	border-right: 2px solid rgba(255,255,255,0.2);
}


.contenido-i div h6{
	color: var(--text-color2);
	font-size:20px;
	font-weight: 100; 
	margin: 10px 0px;
}

.contenido-i div p{
	color: var(--primary-color);
	font-size:16px;
}

/* footer */
.pie
{   background: var(--theme-color);  
    padding-left: 1em; 
    color: var(--primary-color);
    
}
.link
{   
    color: var(--text-color);
    text-decoration: none;
	font-weight: 600;
    letter-spacing: 1px;
	font-size: 15px;
	text-transform: uppercase;	
}



.link:hover{
    color: var(--text-color-inverse);            
    padding: 0 10px;
    transition: 0.4s;
}

.datoscontacto
{   display: flex;   
    justify-content: flex-start;     
}

.datoscontacto img
{   width: 30px;  
    padding:  5px;   
}

.datoscontacto p
{  
    padding:  5px;    
}

.sociales{
    display: flex;   
    justify-content: center; 
    align-items: center;
}

.sociales img
{   width: 30px;  
    padding: 2px;   
}










/* responsive*  @media screen and (min-width: 0px) and (max-width: 600px)*/
@media (min-width:6000px) and(max-width:768px){
    /* header*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .mostrar-menu {
        /* Mostrar "hamburguesa" más grande y con diferente cursor */
        font-size: 2em;
        cursor: pointer;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--theme-color);
        left: 0;       
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;    
        /* Evitar barra de desplazamiento en documento */
        display: none;
        position: absolute;
        right: -100%;
    }
    #check {
        /* El checkbox debe estar oculto */
        display: none;
    }
    #check:checked ~ .menu {
        display: block;
        right: 0;
    }

    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }




    /*servicios */
    #servicios{
        flex-direction: column;
    }
	
	/* informacion*/
	.contenido-i{
		flex-direction:column;
	}
	.contenido-i div{
		border:none;
	}
}


@media only screen and (min-width: 320px) and (max-width: 576px) {


 /* header*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .mostrar-menu {
        /* Mostrar "hamburguesa" más grande y con diferente cursor */
        font-size: 2em;
        cursor: pointer;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--theme-color);
        left: 0;       
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;    
        /* Evitar barra de desplazamiento en documento */
        display: none;
        position: absolute;
        right: -100%;
    }
    #check {
        /* El checkbox debe estar oculto */
        display: none;
    }
    #check:checked ~ .menu {
        display: block;
        right: 0;
    }

    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .contenido-banner h3{
        font-size:20px;
        font-weight: 200;
        padding: 10px 0px;
    }
    .contenido-banner h3 span{
        font-weight:400;
    }
    .boton-turnos{
        text-decoration: none;
        color: var(--theme-color);
        font-weight: bold;
        border: 1px solid var(--theme-color);
        padding: 10px 20px;
        align-self: baseline;   
        transition: all 0.4s;
    }


    /*servicios */
    #servicios{
        flex-direction: column;
    }
	
   /* https://es.stackoverflow.com/questions/423202/problemas-al-centrar-imagen-en-dise%C3%B1o-css-en-movil-responsive */
   #servicios img{
     width: 100%;  
}
	/* informacion*/
	.contenido-i{
		flex-direction:column;
	}
	.contenido-i div{
		border:none;
	}
}


    
    
    
    