:root {
    --text-color: black
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #bf7352;


}

a {
    text-decoration: none;

}

.topheader,
.footer {
    background-color: #daa189;
    width: 100%;

}

.topnav,
.bottom-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;

}

.logo,
.logofooter {
    display: flex;

}

.menu,
.menufooter {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li,
.menufooter li {
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;

}

.menu a,
.menufooter a {
    color: #daa189;
    font-size: 20px;
    font-weight: 600;
    line-height: 150px;
    background-color: #f1eeee;
    border-radius: 5px;
    padding: 8px;

}

.menu a:hover {
    background-color: #daa189;
    color:#f1eeee ;
}

.menufooter a:hover{
    background-color: #daa189;
    color:#f1eeee ;

}

.open-menu,
.close-menu {
    display: none;
}

.subtitulo-contacto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


@media (max-width:950px) {
    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: #e78054;
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;



    }

    .menu li {
        padding: 0;


    }

    .menu a {
        color: white;
        line-height: 100px;
        

    }

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu {
        align-self: flex-end;
        padding: 20px 15px;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;

    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
}

.column {
    flex: 1;
    padding: 63px;
}

#contact-form {
    text-align: center;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: #b64819;
    color: #fff;
    border: none;
    cursor: pointer;
}

#contact-info {
    font-size: 16px;
}

.mailpetcare {
    color: black;
}
.wapetcare {
    color: black;
}
.igpetcare{
    color: black;
}

.copypetcare {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #bf7352;
    height: 100%;
    padding: 5px;
    gap: 10px;
    font-weight: bolder;
  

}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #f3b6b6;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


.popup p {
    margin: 0;
    padding: 10px;
}


.close:hover {
    color: red;
}