:root {
  --theme-color: #daa189;
  --botton-slide-background-color: #f5f4f4;
  --botton-slide-color: #080808;
  --text-color-inverse: #f2e8e8;
  --text-color: #0c0c0c;
  --border-main-content: #fabb83;
  --navbar-shallow-color: #e1b9a8;
  --menu-mobile-backgroud-color: #95827a;
}
/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

/* Main Section */

.main-section {
  text-align: center; /* Centra el contenido dentro de la sección */
  padding: 40px; /* Ajusta el espacio interno según tus preferencias */
  background-color: #f2eae7;
}
/* Estilos para el título */
.titulo-main-section h1 {
  font-size: 60px; /* Ajusta el tamaño del título según tus necesidades */
  margin-bottom: 20 px; /* Espacio inferior entre el título y el contenido */
  background-color: #f2dddd; /* Color de fondo del título */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Borde difuminado suave */
}

/* Estilos para el carrusel*/
.carrousel {
  width: 100%;
  max-width: 120em;
  padding: 2em;
  overflow: hidden;
}
.carrousel .slides {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

  transition: all 0.5s ease;
  transform: translateX(0%);
}
.carrousel .img {
  width: calc(100% / 3 - 3em);
  min-height: 10vh;
}
.puntos {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.punto {
  width: 10px;
  height: 10px;
  background-color: #999; /* Color de los puntos inactivos */
  border-radius: 50%;
  margin: 0 5px; /* Espacio entre los puntos (ajusta según sea necesario) */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.punto.activo {
  background-color: #333; /* Color del punto activo */
}

/* Estilos para el contenido principal */
.main-content {
  text-align: justify; /* Justifica el texto de los párrafos */
  margin-top: 20px; /* Espacio superior entre el carrusel y el contenido principal */
  background-color: rgba(
    255,
    255,
    255,
    0.824
  ); /* Fondo tenue (ajusta la opacidad según tus preferencias) */
  padding: 20px; /* Espaciado interno para separar el contenido del borde sombreado */
  border: 1px solid #ddd; /* Borde sombreado */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra en el borde */
  border-radius: 10px; /* Borde redondeado (ajusta el valor según tus preferencias) */
}

.intro-container h2 {
  font-size: 22px; /* Ajusta el tamaño del subtítulo según tus necesidades */
  margin-bottom: 15px; /* Espacio inferior entre el subtítulo y el texto */
  text-align: center; /* Justifica el texto del titulo */
}

.intro-container p {
  font-size: 16px; /* Ajusta el tamaño del texto del párrafo según tus necesidades */
  margin-bottom: 20px; /* Espacio inferior entre los párrafos */
}

@media (max-width: 768px) {
  /* Main Section */
  .main-section {
    text-align: center; /* Centra el contenido dentro de la sección */
    padding: 20px; /* Ajusta el espacio interno según tus preferencias */
    background-color: #f2eae7;
  }
  /* Estilos para el título */
  .titulo-main-section h1 {
    font-size: 35px; /* Ajusta el tamaño del título según tus necesidades */
    margin-bottom: 10 px; /* Espacio inferior entre el título y el contenido */
    background-color: #f2dddd; /* Color de fondo del título */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Borde difuminado suave */
  }

  /* Estilos para el carrusel*/
  .carrousel {
    width: 100%;
    max-width: 120em;
    padding: 1em;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  /* Estilos para el carrusel*/
  .carrousel {
    width: 100%;
    max-width: 130em;
    padding: 1em;
    overflow: hidden;
  }
  carrousel .slides {
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  .carrousel .img {
    width: calc(100% / 3 - 3em);
    min-height: 10vh;
  }
}
